services:
  postgres:
    image: postgres:18-alpine
    env_file:
      - ../.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}' ]
      interval: 10s
      timeout: 5s
      retries: 5

  nats:
    image: nats:latest
    env_file:
      - ../.env
    command: -js
    volumes:
      - nats_data:/data

  redis:
    image: redis:latest
    env_file:
      - ../.env
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  nats_data:
  redis_data: