services:
  base:
    build:
      context: ../
      dockerfile: docker/base-build.Dockerfile

  project-service:
    container_name: project-service
    build:
      context: ../
      dockerfile: project-service.dockerfile
      target: release
    command: [ "npm", "run", "start:dev", "project-service" ]
    env_file:
      - ../apps/project/.env
    volumes:
      - ../.:/usr/src/app
    depends_on:
      - base
      - nats
      - postgres

  user-service:
    container_name: user-service
    build:
      context: ../
      dockerfile: docker/user-service.dockerfile
      target: release
    command: [ "npm", "run", "start:dev", "user-service" ]
    env_file:
      - ../apps/user/.env
    volumes:
      - ../.:/usr/src/app
    depends_on:
      - base
      - nats
      - postgres

  auth-service:
    container_name: auth-service
    build:
      context: ../
      dockerfile: docker/auth-service.dockerfile
      target: release
    command: [ "npm", "run", "start:dev", "auth-service" ]
    env_file:
      - ../apps/auth/.env
    volumes:
      - ../.:/usr/src/app
    depends_on:
      - base
      - nats
      - postgres

  gateway-service:
    container_name: gateway-service
    build:
      context: ../
      dockerfile: docker/gateway-service.dockerfile
      target: release
    command: [ "npm", "run", "start:dev", "gateway-service" ]
    env_file:
      - ../apps/gateway/.env
    ports:
      - '3000:3000'
    volumes:
      - ../.:/usr/src/app
    depends_on:
      - base
      - nats
      - project-service
      - auth-service
      - user-service

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  nats:
    image: nats:latest
    container_name: nats
    restart: always
    command: -js
    ports:
      - "${NATS_CLIENT_PORT}:4222"
      - "${NATS_MGMT_PORT}:8222"
    volumes:
      - nats_data:/data

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  nats_data:
  redis_data: