services:
  base:
    build:
      context: ../
      dockerfile: docker/base-build.Dockerfile
    image: base-build

  project-service:
    container_name: project-service
    build:
      context: ../
      dockerfile: project-service.dockerfile
      target: release
    command: [ "npm", "run", "start:dev", "project-service" ]
    env_file:
      - ../apps/project/.env
    volumes:
      - ../.:/usr/src/app
    depends_on:
      - base
      - nats
      - mongo

  user-service:
    container_name: user-service
    build:
      context: ../
      dockerfile: docker/user-service.dockerfile
      target: release
    command: [ "npm", "run", "start:dev", "user-service" ]
    env_file:
      - ../apps/user/.env
    volumes:
      - ../.:/usr/src/app
    depends_on:
      - base
      - nats

  auth-service:
    container_name: auth-service
    build:
      context: ../
      dockerfile: docker/auth-service.dockerfile
      target: release
    command: [ "npm", "run", "start:dev", "auth-service" ]
    env_file:
      - ../apps/auth/.env
    volumes:
      - ../.:/usr/src/app
    depends_on:
      - base
      - nats

  gateway-service:
    container_name: gateway-service
    build:
      context: ../
      dockerfile: docker/gateway-service.dockerfile
      target: release
    command: [ "npm", "run", "start:dev", "gateway-service" ]
    env_file:
      - ../apps/gateway/.env
    ports:
      - '3000:3000'
    volumes:
      - ../.:/usr/src/app
    depends_on:
      - base
      - nats
      - project-service
      - auth-service
      - user-service

  mongo:
    image: mongo
    container_name: admin-mongodb

  nats:
    image: nats
    container_name: admin-nats
    ports:
      - '4222:4222'
      - '8222:8222'
    command: -js
